.u-section-1 {
  background-image: url("images/Balksz-4.png");
  min-height: 801px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 239px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 58px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 3px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 558px;
}

.u-section-3 .u-line-1 {
  width: 1040px;
  height: 3px;
  margin: 13px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1174px;
  margin: 45px auto 60px -34px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 394px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 27px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-3 .u-line-2 {
  width: 178px;
  height: 3px;
  margin: 9px auto 0 17px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 32px -2px 0 -5px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 -51px 0 -10px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 103px auto 0 11px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 394px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  width: 79px;
  margin: 0 auto;
}

.u-section-3 .u-line-3 {
  width: 178px;
  height: 3px;
  margin: 9px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 32px -9px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0 -18px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 103px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 394px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  width: 79px;
  margin: 12px auto 0;
}

.u-section-3 .u-line-4 {
  width: 178px;
  height: 3px;
  margin: 9px auto 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 32px -9px 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 0 -18px;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 103px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 394px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  width: 79px;
  margin: 7px auto 0;
}

.u-section-3 .u-line-5 {
  width: 178px;
  height: 3px;
  margin: 14px auto 0 15px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 32px -9px 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 0 -18px;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 103px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-line-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-left: 38px;
  }

  .u-section-3 .u-line-2 {
    width: 162px;
    margin-top: 11px;
    margin-right: 0;
    margin-left: -4px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 84px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 45px;
    margin-right: -14px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-3 .u-line-3 {
    width: 159px;
    margin-top: 11px;
    margin-right: -4px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 84px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 48px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 542px;
  }

  .u-section-3 .u-line-4 {
    width: 159px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 60px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 542px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 12px;
  }

  .u-section-3 .u-line-5 {
    width: 159px;
    margin-top: 9px;
    margin-right: -4px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-line-2 {
    margin-top: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1718px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-line-2 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-3 .u-line-3 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 16px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -2px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 381px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 14px;
    margin-right: 106px;
    margin-left: 132px;
  }

  .u-section-3 .u-line-4 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: -48px;
    margin-left: 48px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -4px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 386px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 112px;
    margin-left: 126px;
  }

  .u-section-3 .u-line-5 {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 13px;
    margin-right: -48px;
    margin-left: 48px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 2px;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 132px;
  }
}